<launch>

<!-- Opens gazebo -->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
</include>

<!-- URDF -> Param Server -->
<param name="robot_description" textfile="$(find pybot_scara)/urdf/pybot_scara.urdf" />

<!-- Spawner -->
<node
 name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
 args="-urdf -param robot_description -model pybot -x 0 -y 0 -z 0.075"
 respawn="false" output="screen" />


 <!-- Load controller type -> Param Server -->
 <rosparam
    file="$(find pybot_control)/config/pybot_control.yaml"
    command="load" >
 </rosparam>

 <!-- Spawn the controller type  -->
<node
 name="controller_spawner"
 pkg="controller_manager"
 ns="/pybot"
 type="spawner"
 args="
    joint_state_controller
    prismatic_joint_position_controller
    shoulder_position_controller
    elbow_position_controller
 ">
 </node>

  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

</launch>
